footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: thin solid #090000;
    padding-top: 8px;
    bottom: 0%;
    clear: both;
    width: 100%;
    background-color: $color-secundario;
    font-size: map-get($font-sz , font-m);
  }
  
footer p {
    line-height: 1.5em;
    font-family: "Barlow", sans-serif;
    text-align: center;
}