body {
    font-family: "Barlow", sans-serif;
    width: 100%;
    margin: 0 auto;
    background-color: $primary-color;
    text-align: justify;
    min-height: 1050px;
    font-size: 18px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    color: $terciary-color;
    transition: all 0.4s ease;
  }
  H1 {
    color: rgb(0, 4, 12);
    font-size: 28px;
    font-family: "Barlow", sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  H3 {
    color: $terciary-color;
    font-size: 26px;
    font-family: "Barlow", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  H2 {
    color: $terciary-color;
    font-size: 14px;
    font-family: "Barlow", sans-serif;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .sectiongrid {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
  }
  
  .item {
    border: 20px solid $terciary-color;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  
  .contenido {
    background-color:$secondary-color;
    width: 100%;
    text-align: center;
  } 
  .logo {
    box-align: center;
    float: left;
    padding-left: 20px;
    padding-bottom: 0px;
  }
  .caja {
    width: 800px;
    height: auto;
    padding: 50px 20px;
    margin: 25px;
  }
  
  .colchon img {
    max-width: 100%;
  }
  
  .col {
    background-color: #f0f3e8;
    font-family: "Barlow";
    font-size: medium;
    color: $terciary-color;
  }
  .card-img-top {
    max-width: 200px;
  }