.navbar-nav {
    vertical-align: bottom;
  }
  
  .nav-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: $color-terciario;
  }
  
  .nav-link {
    color: #2a2929;
  }
  